## anansi_.marketdata.klines

In [1]:
from anansi_.marketdata.klines import klines_getter
from anansi_.marketdata.models import Market

In [2]:
my_market = Market(broker_name="Binance", ticker_symbol="BTCUSDT", time_frame="2h")


my_klines_getter = klines_getter(my_market)

In [3]:
my_klines = my_klines_getter.newest(100)

In [4]:
my_klines.apply_indicator.trend.price_from_kline()

In [5]:
class SetupSMA:
    price_metrics = "hlc3"
    number_samples = 20

my_setup = SetupSMA()

my_klines.apply_indicator.trend.simple_moving_average(my_setup)

In [6]:
my_klines

,Open_time,Open,High,Low,Close,Volume,Price,SMA_20
0,2020-11-11 18:00:00,15865.47,15965.00,15702.00,15807.58,8660.506952,15824.860000,NaN
1,2020-11-11 20:00:00,15807.58,15827.67,15576.04,15813.63,6910.500486,15739.113333,NaN
2,2020-11-11 22:00:00,15813.64,15886.00,15672.64,15684.24,4418.660676,15747.626667,NaN
3,2020-11-12 00:00:00,15684.25,15711.77,15440.64,15639.84,7881.387032,15597.416667,NaN
4,2020-11-12 02:00:00,15639.50,15686.20,15591.40,15628.14,3746.634661,15635.246667,NaN
...,...,...,...,...,...,...,...,...
95,2020-11-19 16:00:00,18045.01,18119.98,17882.36,17969.40,7841.391784,17990.580000,17839.091500
96,2020-11-19 18:00:00,17969.29,18033.57,17869.76,17955.80,5057.036773,17953.043333,17841.389500
97,2020-11-19 20:00:00,17955.79,18100.00,17871.64,17928.48,5415.809018,17966.706667,17851.145333
98,2020-11-19 22:00:00,17928.55,17951.95,17681.36,17802.82,6500.726111,17812.043333,17847.457500
99,2020-11-20 00:00:00,17802.81,17967.49,17740.04,17960.39,5186.412205,17889.306667,17838.206000

In [ ]:
my_market.broker_name

## anansi_.marketdata.brokers

###  Exemplo com a Binance

In [ ]:
from anansi_.marketdata.brokers import Binance

my_broker = Binance()

### Alguns atributos da exchange/broker

In [ ]:
my_broker.base_endpoint, my_broker.DateTimeFmt, my_broker.DateTimeUnit

### Verificando horÃ¡rio do servidor com broker.server_time()

In [ ]:
import pendulum # SÃ³ para gerar o formato 'human readable', para exemplo

server_time = dict(server_time_timestamp=my_broker.server_time(),
                   server_time_human_readable=(
                       pendulum.from_timestamp(my_broker.server_time()).to_datetime_string()
                   )
                  )

server_time

### Verificando se o limite de requests foi atingido

In [ ]:
my_broker.was_request_limit_reached()

### Finalmente, solicitando algumas klines

In [ ]:
my_klines = my_broker.get_klines(ticker_symbol="BTCUSDT", time_frame="2h")

my_klines

### FunÃ§Ã£o get_broker

Ã‰ possÃ­vel repetir todos os passos acima, desde que haja suporte para o broker (passado para a funÃ§Ã£o 'get_broker' pelo parÃ¢metro 'broker_name') instanciando um broker como mostrado abaixo (novamente tomando a binance como exemplo):

In [ ]:
from anansi_.marketdata.brokers import get_broker

my_broker = get_broker(broker_name="binance")

Testando com as klines; esteja livre para repetir os passos anteriores :)

In [ ]:
my_klines = my_broker.get_klines(ticker_symbol="BTCUSDT", time_frame="2h")

my_klines

In [ ]:
type(my_klines)