## anansi_.marketdata.brokers

###  Exemplo com a Binance

In [1]:
from anansi_.marketdata.brokers import Binance

my_broker = Binance()

### Alguns atributos da exchange/broker

In [2]:
my_broker.base_endpoint, my_broker.DateTimeFmt, my_broker.DateTimeUnit

('https://api.binance.com/api/v3/', 'timestamp', 'milliseconds')

### Verificando horário do servidor com broker.server_time()

In [3]:
import pendulum # Só para gerar o formato 'human readable', para exemplo

server_time = dict(server_time_timestamp=my_broker.server_time(),
                   server_time_human_readable=(
                       pendulum.from_timestamp(my_broker.server_time()).to_datetime_string()
                   )
                  )

server_time

{'server_time_timestamp': 1605807956,
 'server_time_human_readable': '2020-11-19 17:45:57'}

### Verificando se o limite de requests foi atingido

In [5]:
my_broker.was_request_limit_reached()

False

### Finalmente, solitando algumas klines

In [7]:
my_klines = my_broker.get_klines(ticker_symbol="BTCUSDT", time_frame="2h")

my_klines

      Open_time      Open      High       Low     Close        Volume
0    1602208800  10899.52  10921.82  10880.00  10887.19   1799.976004
1    1602216000  10887.18  10893.00  10860.00  10862.56   1990.747774
2    1602223200  10862.56  10902.74  10829.00  10894.00   3064.435003
3    1602230400  10893.99  10897.94  10864.05  10876.74   2401.443615
4    1602237600  10876.73  11100.00  10870.89  11050.43  10141.829486
..          ...       ...       ...       ...       ...           ...
494  1605765600  17894.89  17907.00  17590.70  17649.94   6262.201972
495  1605772800  17650.03  17723.81  17335.65  17426.52  11444.789930
496  1605780000  17426.52  17778.04  17361.89  17765.33  10020.872853
497  1605787200  17765.32  18006.83  17653.24  18000.56  10275.089075
498  1605794400  18000.56  18179.80  17842.79  18045.00  11066.532703

[499 rows x 6 columns]